@import './reset.scss';
@import './basico.scss';
@import './estilos.css';


.contenedor-registro {
  display: flex;
  width: 100%;
  justify-content: center;
  min-height: 100vh;
}

.registrobox {
  display: grid;
  grid-template-rows: repeat(8,fr);
  gap: 15px;
  row-gap: 5px;
  box-sizing: border-box;
  color: #26282a;
  box-shadow: 0 2px 4px 0 rgb(0 0 0 / 30%);
  width: 460px;
  right: 0;
  max-height: 650px;
  z-index: 1;
  padding: 28px 5px;
  padding-bottom: 10px;
  border: 1px solid transparent;
  border-top: 1px solid #f1f1f5;
  background-color: antiquewhite;
  margin-top: 80px;

 


  &__titulo {
    align-self: center;
    justify-self: center;
    font-size: 28px;
    font-family: $gotan;
    grid-row-start: 1; 
    grid-row-end: 2;
    text-align: center;
    color:#2343DC; 
  }

  &__campo {
    align-self: center;
    justify-self: center;
    font-size:14px;
    //background-color: aquamarine;
    border-bottom: 1px solid #575454;

    label {
      display: block;
      padding-bottom: 10px;
      color: #900C3F;
    }

    &--text {
      border: 0px;
	    width: 240px;
	    position: relative;
	    background: transparent;
	    outline: none;
	    bottom: 4px;
	    padding: 2px;
      color:#575454;

    }

    &--image {
      width: 18px;
      height: 18px;
	    border: 0px;
	    position: relative;
	    top:1px;
      margin-right: 5px;

    }
    span {
      margin-right: 5px;
      //font-size: 16px;
    }

  }

  &__boton {
    color:white;
    padding: 15px;
    align-self: center;
    justify-self: center;

      input {
        color:rgb(223, 171, 74);
        background-color: #6e8056;
        border-radius: 12px;
        font-family: $gotan;
        font-size:20px;
        height: 40px;
        width: 275px;
        line-height: 30px;
        text-align: center;
        box-shadow: rgba(0,0,0,0.5) 0px 2px 2px;

        &:hover {
          background-color: green;
        }
      }
  }

  &__resultado {
    align-self: center;
    justify-self: left;
    height: 30px;
    color:red;
    font-size: 14px;
    font-family: $gotan;
    margin-left: 30px;

  }
}