$margenPagX : 10px;
$fondocontenido:#E1E2E7 ;

$banner: #055A7E;
$color_banner: white;
$color_comment: #e4d3ad;
$c_barrauser: #5FB9B5;
$fondoBody: #E0DBEF; 
$fondomenu: #6579DB; 
$colormenu: #fac94d;


$orange: #e06043;
$dedionBlue: #125fe0;
$ligthGreen: #91e016;
$darkGreen: #639416;

$inputfocus:#CCE7F2;
$inputnofocus:  antiquewhite; 

$black: #222222;
$white: #eeeeee;
$whiteWtransp: rgba(238, 238, 238, 0.5 );
$colorTitulo: #D74D10;
$colorCuerpo: #7F7C7A;
$colorFecha:#6242C1;

$fondoPie: #393a3b;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Roboto:wght@300;400&display=swap');
@import url('https://fonts.cdnfonts.com/css/gotham-black');

$montserrat: 'Montserrat' sans-serif;
$roboto: 'Roboto' sans-serif;
$gotan: 'Gotham Black';

$anchoPagina : 90vw;
$gapFicha: 20px;