@import './reset.scss';
@import './basico.scss';

@media screen and (min-width: 1100px) {

  .contenedor-detalle {
    display: grid;
    grid-template-columns: 330px 1fr;
    @media screen and (max-height: 1080px){ grid-template-rows: 500px 1fr 100px 1fr;  }
    @media screen and (min-height: 1080px){ grid-template-rows: 500px 1fr 100px calc(100vh - 1000px);  }
    //align-items: center;
    width: 60vw;
    background-color: antiquewhite;
    gap: 15px;
    height: 100%;
  
    &__imagen {
       display: flex;
       grid-row: 1 /  span 1;
       grid-column: 1;
       justify-content: center;
       background-color:  antiquewhite;
       padding: 15px;
  
       img {
        width: 300px;
        height: 478px;
       }
    }
  
    &__datos {
      grid-row:  1 / span 1;
      grid-column: 2;
      display : flex;
      flex-direction: column;
      justify-content:space-evenly;
      align-items:flex-start;
  
      span {
  
        font-weight: bold;
        color: #F27B5F ;
      }
  
      &--titulo {
      
        font-size: 22px;
        font-family: $gotan;
        color: rgb(48, 48, 102);
        text-indent: 40px;
    
      }
      &--categoria {
      
        font-size: 14px;
        font-family: $gotan;
        color: gray
    
      }
      &--editorial {
      
        font-size: 14px;
        font-family: $gotan;
        color: gray
    
      }
      &--autor {
      
        font-size: 14px;
        font-family: $gotan;
        color: gray
    
      }
      &--paginas, &--fecha, &--pais, &--isbn {
      
        font-size: 14px;
        font-family: $gotan;
        color: gray
    
      }
  
  
    }
  
    &__descripcion {
      grid-row: 2;
      grid-column: 1 / span 2;
      display : flex;
      flex-direction: row;
      justify-content: flex-start;
      margin:15px;
  
      span {
  
        font-weight: bold;
        color: #F27B5F ;
      }
  
      &--texto {
      
        font-size: 16px;
        font-family: $roboto;
        color: gray
    
      }
  
    }

    &__favoritos {
      grid-row: 3;
      grid-column: 1 / span 2;
      display : flex;
      justify-content: center;
      height: 90px;
      width: 100%;
      background-color: #dda295;
  
    }

    &__librofavoritos {
      grid-row: 4;
      grid-column: 1 / span 2;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: flex-start;
      background-color: transparent;
      align-items: flex-start;
      gap: 35px;
      flex-wrap: wrap;
      margin: 25px;
    
    }
  
    
  }
}
@media screen and (max-width: 1100px) {
  .contenedor-detalle {
    display: grid;
    grid-template-columns: 1fr 1fr;
     grid-template-rows: 500px 1fr 100px 1fr;
    //align-items: center;
    width: 60vw;
    background-color: antiquewhite;
    gap: 10px;
  
    &__imagen {
       display: flex;
       grid-row: 1 /  span 1;
       grid-column: 1;
       justify-content: center;
       background-color:  antiquewhite;
       padding: 15px;
  
      
    }
  
    &__datos {
      grid-row:  1 / span 1;
      grid-column: 2;
      display : flex;
      flex-direction: column;
      justify-content:space-evenly;
      align-items:flex-start;
      margin: 6px;
  
      span {
  
        font-weight: bold;
        color: #F27B5F ;
      }
  
      &--titulo {
      
        font-size: 16px;
        font-family: $gotan;
        color: rgb(48, 48, 102);
        text-indent: 10px;
    
      }
      &--categoria {
      
        font-size: 12px;
        font-family: $gotan;
        color: gray
    
      }
      &--editorial {
      
        font-size: 12px;
        font-family: $gotan;
        color: gray
    
      }
      &--autor {
      
        font-size: 12px;
        font-family: $gotan;
        color: gray
    
      }
      &--paginas, &--fecha, &--pais, &--isbn {
      
        font-size: 12px;
        font-family: $gotan;
        color: gray
    
      }
  
  
    }
  
    &__descripcion {
      grid-row: 2;
      grid-column: 1 / span 2;
      display : flex;
      flex-direction: row;
      justify-content: flex-start;
      margin:8px;
  
      span {
  
        font-weight: bold;
        color: #F27B5F ;
      }
  
      &--texto {
      
        font-size: 12px;
        font-family: $roboto;
        color: gray
    
      }
  
    }

    &__favoritos {
      grid-row: 3;
      grid-column: 1 / span 2;
      display : flex;
      justify-content: center;
      height: 90px;
      width: 100%;
      background-color: #dda295;
  
    }

    &__librofavoritos {
      grid-row: 4;
      grid-column: 1 / span 2;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: flex-start;
      background-color: transparent;
      align-items: flex-start;
      gap: 35px;
      flex-wrap: wrap;
      margin: 25px;
    
    }
    

   
  
    
  }

  

}


.ficha-libro-favorito {
  display: flex;
  justify-content:flex-start;
  flex-direction: column;
  gap:20px;
  box-shadow: $whiteWtransp 0px 3px 8px;
  background-color:rgb(178, 184, 190);
  font-family: $gotan;
  width: 128px;
  height: 280px;

  img {
     margin: 0px;
     width: 128px;
     height: 204px;
     transition: all 0.5s linear;

  }
  &__titulo {
    font-size: 11px;
    color:rgb(51, 8, 17);
    margin: 0px 4px;
  }
  

}

