
@import './reset.scss';
@import './basico.scss';



body { 
        background-color: $fondoBody; 
        font-family: $montserrat;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

}

a:link, a:visited, a:active {
    text-decoration:none;
}

.contenedor {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: $anchoPagina;
    background-color: $fondocontenido;
}

.banner {
    align-items: center;
    background:linear-gradient($banner,#87C9EC );
    background: -webkit-linear-gradient($banner, #87C9EC );
    background: -moz-linear-gradient($banner,#87C9EC );
    background: -o-linear-gradient($banner,#87C9EC );
    background: linear-gradient($banner,#87C9EC );
    display: flex;
    height: 68px;
    justify-content: left;    
    padding: 0px;
    width: 100%;
    font-weight: bold;

    
   
    &__titulo {
        width: 70%;
        font-size: 35px;
        color: $color_banner;
        text-align: left;
        animation-name: slidein;
        animation-duration: 14s;
        animation-iteration-count: 4;
        animation-timing-function: linear;
        transition: all 0.5s linear;
        animation-delay: 1s;
        animation-direction: alternate;
        margin-left: $margenPagX;

        @media screen and (max-width: 1280px) {
            width: 60%;
        }

        &:hover {
            color :#ED992F;
        }

        @keyframes slidein {
            from {
              margin-left: 8%;

            }
          
            to {
              margin-left:  $margenPagX;
            }
          }
    }

   
    &__comentario {
        font-size: 16px;
        color:$color_comment;
        font-style: italic;
        overflow-x:hidden;
        word-wrap: keep-all;

    }

}
.usuario {
    align-items: center;
    background-color: $c_barrauser;
    display: flex;
    height: 50px;
    justify-content: left;    
    padding: 5px 0px;
    width: 99%;
    border-radius: 16px;
    font-family: $roboto;
    font-size:14px;
    border-top: 8px solid $fondoBody;
    border-bottom: 6px solid $fondoBody;
    
    &__nombre {
        font-weight: bold;
        color: #8E3020;
        width: 35%;
        margin-left: $margenPagX;
       
    }

    &__form {
        font-size: 14px;
        min-width: 450px;
        width: 30%;
        //background-color: yellow;

        label {
            color: rgb(51, 47, 47);
            margin: 6px;
        }

        input {
            width: 80px;
            font-size: 14px;
            height: 22px;
            color: rgb(83, 78, 78)
        }

        input[type='submit'] {
            background-color: rgb(138, 138, 216);
            //margin-inline: 8px;
            margin: 2px 18px;
            border:1px solid orange;
            color:beige;
            cursor: pointer;
            font-size: 12px;
            transition: background-color 0.3s ease;
            border-radius: 8px;
            height: 24px;

            &:hover {
                background-color: green;
            }
        }
    }
    a:link, a:visited, a:active {
        color: #3243a7;
    }
    a:hover {
        transition: all 0.3s ease;
        color: white;
    }
    &__noform {
        font-size: 14px;
        min-width: 500px;
        width: 45%;
    }
    &__registro {
        color: inherit;
    }
    &__cerrar {
        text-align: right;
        width: 35%;
        min-width: 100px;
    }

}

.menus {
    background-color: $fondomenu;
    color: $colormenu;
    border-top: 2px solid $fondoBody;
    display: flex;
    justify-content: left; 
    align-items: center;   
    padding: 4px 0px;
    width: 100%;
    font-family: $gotan;
    font-size: 14px;
    padding: 6px 0px;
    border-radius: 1px;

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        margin-left: $margenPagX;
    }
    a:link, a:visited, a:active { color: inherit; }

    a:hover {
        transition: all 0.3s ease;
        color: orange;
    }
}

.biblio {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(2, 1fr);
    height: auto;
    
    @media screen and (max-width: 1200px) {
      grid-template-columns: 1fr;
    }
  
    padding: 0 30px;
}

.ficha-biblio{
    background-color: $white;
    border-radius: 10px;
    box-shadow: $whiteWtransp 0px 3px 8px;
    display:grid;
    grid-template-columns: 300px 1fr;
    grid-template-rows:  35px 1fr;
    padding: 0px;
    gap: 0px;

    .imagen { 
      grid-row: 1 /  span 2;
      grid-column: 1;
      height: 300px;

      img {
        border-radius: 10px 10 0 0px;
        height: 300px;
        width: 300px;
        transition: all 0.5s linear;
        margin: 0px;
        border: 0px;

        &:hover {
          transform: scale(0.9);
          opacity: 0.7;
         
        }
      }
     
     

    }
   

    .titulo {
        grid-row: 1;
        grid-column: 2;
        margin: 5px 5px 10px 10px;
        text-transform: uppercase;
        font-weight: bold;
        font-family: $montserrat;
        color: $colorTitulo;
        
    }

    
    .cuerpo {
      grid-row: 2;
      grid-column: 2;
      text-indent: 20px;
      color: $colorCuerpo;
      font-family: $roboto;
      margin: 10px 12px;
      margin-left: 20px;

    }
}

.footer {
    align-items: center;
    background-color: $fondoPie;
    color: $white;
    display: flex;
    flex-direction: column;
    height: 200px;
    justify-content: center;
    width: 100%;
    padding: 0px;
    
  
    .copy{
        font-size: 12px;
        line-height: 25px;
    }
    .marca {
        font-family: $gotan;
        font-size: 22px;
        font-weight: bold;
    }
  }


.animacion {
    color: black;
    font-size: 48px;
    width: 0px;
    overflow: hidden;
    white-space: nowrap;
    letter-spacing: 2px;
    text-align: left;
    animation-name: letra;
    animation-duration: 6s;
    animation-iteration-count: 12;
    animation-timing-function: linear;

    @keyframes letra { 
        0% {
            width: 0;
            border-right: 1px solid black;
        }
        100% {
            width: 900px;
            border-right: 1px solid black;
        }
    }
  
}
